/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define CHAR 1
#define NAVI 2
#define FKEY 3
#define BLUE 4

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

&lt {
    quick-tap-ms = <100>;
    tapping-term-ms = <200>;
    flavor = "balanced";
};

/ {

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            label = "BASE";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &lt BLUE ESC   &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSPC
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &lt NAVI TAB   &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp ENTER
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &kp LSHFT      &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp RSHFT
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                      &kp LCTRL     &kp LALT      &kp LGUI           &lt NAVI SPACE  &lt CHAR SPACE &lt FKEY ENTER
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        char {
            display-name = "CHAR";
            label = "CHAR";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &kp LC(BSLH)   &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT         &kp CARET     &kp AMPS      &kp ASTRK     &kp MINUS     &kp PLUS      &kp DEL
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &kp TAB        &none         &kp UNDER     &kp LBRC      &kp LPAR      &kp SQT           &kp DQT       &kp RPAR      &kp RBRC      &kp MINUS     &kp PIPE      &kp ENTER
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &kp LSHFT      &none         &none         &kp LT        &kp LBKT      &kp TILDE         &kp GRAVE     &kp RBKT      &kp GT        &none         &kp BSLH      &kp RSHFT
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       &kp LCTRL     &kp LALT      &kp LGUI          &none         &none         &none
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        navi_num {
            display-name = "NAVI NUM";
            label = "NAVI NUM";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &none         &kp PG_UP     &kp HOME      &kp END       &none         &none             &kp PLUS      &kp N7        &kp N8        &kp N9        &kp DEL       &kp BSPC
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &none         &kp LEFT      &kp UP        &kp PG_DN     &none         &none             &kp EQUAL     &kp N4        &kp N5        &kp N6        &kp ASTRK     &kp ENTER
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &kp LSHFT     &none         &kp DOWN      &kp RIGHT     &none         &none             &kp MINUS     &kp N1        &kp N2        &kp N3        &kp FSLH      &kp RSHFT
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                      &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE        &none         &kp N0        &kp DOT
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        fkey {
            display-name = "FKEY";
            label = "FKEY";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6                &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &none         &none         &none         &none         &none         &none                 &none         &none         &none         &none         &none         &none
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &none         &none         &none         &none         &none         &none                 &none         &none         &none         &none         &none         &none
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                      &rgb_ug RGB_HUD &rgb_ug RGB_HUI &rgb_ug RGB_TOG   &none         &none         &none
        //                                           ╰─────────────┴─────────────┴─────────────╯       ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        blue {
            display-name = "BLUE";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &none         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &none         &none         &none         &none         &none         &none
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &none         &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &none
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &none         &none         &none         &none         &bt BT_CLR    &bootloader       &none         &none         &none         &none         &none         &none
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                      &out OUT_USB  &out OUT_BLE  &out OUT_TOG      &none         &none         &none
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

    };
};
